* {
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
}

body {
  background-color: rgb(119, 117, 117);
}

.header {
  font-size: 30px;
  background-color: rgb(164, 164, 179);
  color: white;
  padding: 65px;
  font-size: 35px;
}

/* Organization of Header Bar */
.header div ul {
  list-style-type: none;
  color: white;
}

/*Links in Header*/
.header div ul li {
  display: inline-block;
  margin-left: 20px;
  color: white;
  font-size: 20px;
  float: right;
}

/* Name of Company */
.header h1 {
  display: inline-block;
  float: left;
  font-size: 52px;
}

/* Main Picture on Web */
.meeting {
  height: 1000px;
  margin-bottom: 20px;
  background-image: url("./assets/digital-marketing-meeting.jpg"); 
  background-size: cover;
  background-image: center;
}

/* Larger Bullets */
.reasons {
  width: 75%;
  display: inline-block;
  margin-left: 20px;
}

.search-engine-optimization {
  float: left;
  display: block;
  background-color: rgb(64, 106, 185);
}

.search-image {
  float: left;
  height: 250px;
  width: 350px;
}

.online-reputation-management {
  float: left;
  display: block;
  font-size: 25;
  background-color: rgb(64, 106, 185);
}

.reputation {
  float: right;
  height: 250px;
  width: 350px;
}

.social-media-marketing {
  float: left;
  display: block;
  background-color: rgb(64, 106, 185);
}

.marketing {
  float: left;
  height: 250px;
  width: 350px;
}

/* Side Panel */
.help {
  margin-right: 20px;
  padding: 20px;
  clear: both;
  float: right;
  width: 20%;
  height: 100%;
  background-color: rgb(24, 119, 119);
  text-emphasis-color: white;
}

.lead {
  width: 75%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.brand {
  width: 75%;
  margin-bottom: 30px;
  margin-top: 20px;
}

.cost {
  width: 75%;
  margin-bottom: 30px;
  margin-top: 20px;
}

/* Footer */
.footer{ 
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
