*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

.header {
    font-size: 30px;
    background-color: rgb(96, 96, 214);
    color: white;
    padding: 65px;
    font-size: 35;
}

.header div ul{
    list-style-type: none;
    color: white;
}

.header div ul li{
    display: inline-block;
    margin-left: 20px;
    color: white;
    font-size: 20;
    float: right;
}

.header h1{
    display: inline-block;
    float: left; 
    padding: 0px;
}

.meeting {
    height: 1000px;
    margin-bottom: 20px;
    background-image: url("/Assets/digital-marketing-meeting.jpg");
    background-size: cover;
    background-image: center;
}

.search-engine-optimization {
    float: left;
    background-color: teal;
    margin-bottom: 20px;
    display: block;
    font-size: 25;
}

.search-image{
    float: left;
    height: 350px;
    width: 450px;
}